# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vscode工作区配置文件
vite-vue3-uniapp-template.code-workspace

# 自动生成声明文件
/src/typings/components.d.ts
/src/typings/uni-pages.d.ts

# 自动生成的配置文件
/src/pages.json
/src/manifest.json
